/*
* @Author: Jackhui
* @Date:   2017-12-02 12:39:33
*/
.login-img{
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
}
.panel-heading {
  text-align: center;
  border-bottom: 1px solid #eee;
  background-color: #FAFAFA;
}
