.opear{
    margin: 0 5px;
    text-decoration: none;

}
.search-wrap{
    margin-bottom: 20px;
    .form-group{
        margin-right: 10px;
    }
}
// .col25 {width: 25%;}
// .col10 {width: 10%;}
button:disabled {
    color: #222222;
    background :#d9d9d9;
}
